@media screen and (max-width: 767px)
{
/*
body{
    size: 100%;
    background-color:rgb(19, 59, 105);
}
header{
    size: 100%;
    margin: 0;
    background-color: rgba(106, 172, 230, 0.192);
}
.logoinstru{
    width: 20%;
}
.icon{
    width:20%;
}
.logoinstruadd{
    width: 20%;
}
.map{
    width: 20%;
}

*/
body{
    size: 100%;
    overflow-x: hidden;
    background-color: rgb(166, 167, 166);
    margin: 0%;
}

/* tous ce qui est en tete de page */
header{
    size: 100%;
    margin: 0;
}

/* information tout en haut de la page */
.flexinfo{
    height: 100%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    background-color: gray;
    justify-content: center;
    flex-direction: row;
}
.flexinfo a{
    display: block;
    color: inherit;
    text-decoration: none;
}
.flexinfo .info{
    margin-left: 1.3%;
}


.logoinstru{
    width: 20%;
}
.icon{
    width:20%;
}
.logoinstruadd{
    width: 20%;
}
.map{
    width: 20%;
}
}